.h6 {
    font-size: 1rem;
}

.x-y-z{
    background: linear-gradient(-45deg, #0099f7, #fe0000);
    background-size: 400% 400%;
    animation: gradient 2s ease infinite;
}

.x-y-z:hover{
    animation: gradient 0.5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}