#video-container .video-content .inner {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.video-overlay {
    height: 500px;;
}

.gallery-container {
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
}